@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Itim&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Itim", cursive;
}

.bg-primary {
    background: linear-gradient(135deg, #ff7936, #ff3c00);
}
.text-primary {
  color: #ff671b !important;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover {
  color: #fff;
}
/* เมนู */
nav {
  border: solid 1px #d6d5d5;
}
.menu-item {
  color: black;
  /* color: #FF671B; */
}

header {
  background-color: #ff671b;
  padding: 12px;
}
section {
  padding: 12px;
}
.hot-menu img {
  width: 60px;
  
}
.text-white {
  font-size: 13px;
}
.menu-image {
  width: 100px; /* เต็มความกว้างของคอลัมน์ */
  height: 100px; /* ความสูงคงที่ */
  object-fit: cover;
  border-radius: 10px; /* ขอบมน */
}
.recomment img:hover {
  opacity: 0.5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.random-menu-box:first-child {
  background-color: rgba(254, 182, 146, 0.595);
  border-radius: 10px;
  padding: 8px;
}
.random-menu-box:last-child {
  background-color: #ffec1b79;
  border-radius: 10px;
  padding: 8px;
}
.span-box {
  padding: 0px 12px;
  margin-bottom: 100px;
}

.bot {
  position: fixed;
  bottom: 65px;
  right: 10px;
  z-index: 9999; /* ให้อยู่บนสุด */
  width: 60px; /* ปรับขนาดตามต้องการ */
  height: auto;
  cursor: pointer;
}
.bot img {
  width: 100%;
  height: auto;
}

.login {
  background-color: #ff671b;
}

.logo-social {
  width: 26px;
  margin-right: 10px;
}
.bottom-section {
  border-radius: 5rem 5rem 0 0;
  background-color: #fff;
  padding-top: 50px;
}
.menu-serch{
  position: absolute;
  width: 94%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.custom-rounded-top-pill{
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5); 
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem
}
.divider{
  border: 1px solid rgba(128, 128, 128, 0.281);
}
.list-menu{
  border: 1px solid grey;
  border-radius: 10px;
  padding: 2px 8px;
  width: fit-content;
  background-color: #d6d5d588;
}
.bg-imge{
    background-image: url('/images/Screenshot\ 2025-07-01\ 133101.png');
    background-size: cover; 
    background-position: center;  
}

  #success-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5); /* สีพื้นหลังโปร่งใส */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    display: none; /* ซ่อนไว้ก่อน */
  }

  .success-image {
    width: 120px;  /* ปรับขนาดได้ตามต้องการ */
    height: auto;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s forwards;
  }
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
